body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  margin: 0;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.post {
  background-color: WHITE;
  color: black;
  width: 100%;
  max-width: 500px;
  overflow: hidden;  
  margin-bottom: 20px;
  border-radius: 8px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 10px 15px;
}

.post-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-header-right {
  font-size: 18px;
}

.post-header-left img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.post-video {
  width: 100%;
  background-color: black;
}

.post-video video {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
}

.post-body {
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
}

.post-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 15px;
}


.post-icons-left {
  display: flex;
  gap: 15px;
  font-size: 22px;
  color: black;
}

.post-icons-right {
  font-size: 22px;
  color: black;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  cursor: pointer;
}
